<section class="card">
  <a href="/comment/{{id}}">
    <header>{{comment_text}}</header>

    <div class="card-body">
      <p>By: {{username}}</p>
      <p>{{created_date}}</p>
    </div>
  </a>
</section>
